@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --header-primary: #00bfff;
  --header-secondary: #476b6b;
}
body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  background-color: var(--header-primary);
}

.navbar-header {
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  font-size: 3rem; 
  color: var(--header-secondary);
}

.navbar-desc {
  font-size: 1.5rem;
}

.scores{
  margin-left: auto;
  margin-right: 2%;
  font-family: 'Bebas Neue', cursive;
}